@charset "ISO-8859-1";


body{
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/passwordchangeimage/backgroundimage.jpg") no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size: cover;
    background-size: cover;
    color:white;
    margin:0px;
    font-family: Arial;
    
}

.credential{
	text-align: center;	
}

.checkimage{
	margin-top:10%;
	background-color: blue;
	display: inline-block;
	border-radius:50%;
	 
}
img{
	width: 90px;
	height: 90px;
	
}

p{
	font-family: serif;
	font-size: 30px;
	font-weight: bolder;
	text-align: center;
}

